Deprecated DNS record type of SPF (type 99) issue.

Hi,

I have issue with one sender:

Received: from mda-out.datacenter.fi (mda-out.datacenter.fi [89.250.48.136])
Authentication-Results: SPF; spf=fail smtp.mailfrom=meklari@huuto.net smtp.helo=mda-out.datacenter.fi

But sender -s SPF record and DNS is correct;

nslookup mda-out.datacenter.fi
Address: 89.250.48.136

nslookup -q=txt huuto.net
huuto.net	text = "v=spf1 mx a:mda-out.datacenter.fi include:mktomail.com include:spf.protection.outlook.com -all"

I guess the reason is, that sender is using also deprecated type 99 record, which is not equal to TXT record:

nslookup -q=spf huuto.net
huuto.net	rdata_99 = "v=spf1 include:spf.protection.outlook.com -all"

Based https://mxtoolbox.com/problem/spf/spf-record-deprecated

"Hostname has returned a SPF Record that has been deprecated

The use of alternative DNS RR types that was formerly supported during the experimental phase of SPF was discontinued in 2014. SPF records must now only be published as a DNS TXT (type 16) Resource Record (RR) [RFC1035]. See RFC 7208 for further detail on this change.

According to RFC 7208 Section 3.1: During the period when SPF was in development, requirements for assigning a new DNS RR type were more stringent than they are today and support for the deployment of new DNS RR types was not deployed in DNS servers and provisioning systems. The end result was that developers of SPF discovered it was easier and more practical to follow the TXT RR type for SPF."

So please modify smf-spf either permanently or optionally to ignore deprecated type 99 SPF record.

The milter uses libspf2 that has that actually does the lookup.
Debian and Ubuntu already removed that in 2014
```2014-10-12 - Magnus Holmgren <holmgren@debian.org>
libspf2 (1.2.10-5) unstable; urgency=low
* abolish-spf-rrtype.patch: Stop trying to look up the dedicated SPF DNS
RR type, which was abolished by RFC 7208 (Closes: #764533).
* Bump Standards-Version to 3.9.6. 
```

What distro do you use?

@jcbf 

> What distro do you use?

cat /etc/redhat-release
CentOS Linux release 7.9.2009 (Core)

rpm -qa | grep libspf2
libspf2-devel-1.2.10-5.20150405gitd57d79fd.el7.x86_64
libspf2-1.2.10-5.20150405gitd57d79fd.el7.x86_64

Correct.
I've also tested to rebuild with that patch and worked ok.
Just added 
```
Patch4: 0004-abolish-spf-rrtype.patch
````
to the spec file and threw the patch to SOURCE dir as  0004-abolish-spf-rrtype.patch


> Correct.
> I've also tested to rebuild with that patch and worked ok.
> Just added
> 
> ```
> Patch4: 0004-abolish-spf-rrtype.patch
> ```
> 
> to the spec file and threw the patch to SOURCE dir as 0004-abolish-spf-rrtype.patch

Just curious, what are the patches 1-3?


Not sure but looks like distro-specific adjustments

> Not sure but looks like distro-specific adjustments

What distro are You using?

And BTW, I have some old server, which could not build newer than v2.4.3 version, so I made patch for it, maybe it's useful for some other also:

```
--- smf-spf.c-orig      2020-11-12 23:44:00.000000000 +0200
+++ smf-spf.c   2021-09-04 21:48:36.000000000 +0300
@@ -197,7 +197,7 @@
 static int foreground = 0;
 static config conf;
 static char *daemon_name;
-static char hostname[HOST_NAME_MAX+1];
+static char hostname[256];
 static pid_t mypid = 0;
 static pthread_mutex_t cache_mutex;
 static facilities syslog_facilities[] = {
@@ -1234,7 +1234,7 @@
         strHelper[(strlen(strHelper) - 1)] = '\0';

     (daemon_name = strrchr(strHelper, '/')) ? ++daemon_name : (daemon_name = strHelper);
-       gethostname(hostname,HOST_NAME_MAX+1);
+       gethostname(hostname, 255);

     while ((ch = getopt(argc, argv, "fhc:")) != -1) {
        switch (ch) {
```
        

I use Ubuntu LTS since 16.04.

For that issue, please open a different issue with more details of your system, including the centos version so I can replicate.

> For that issue, please open a different issue with more details of your system, including the centos version so I can replicate.

Nevermind, this RedHat based ancient remote server just didn't support "gethostname(hostname,HOST_NAME_MAX+1)" function, so I made workaround, and there is no need to deal more deeply with it.
